# -*- sh -*-
# mostly taken from https://github.com/losingkeys/dotfiles

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias git=hub
alias g=git
alias gs='git status'

alias ls='ls -a'

alias vimrc='vim "$HOME/.vimrc"'
alias zshrc='vim "$HOME/.zshrc"'

alias '?'='which'

alias venv='source .venv/bin/activate'

alias rustup='curl -s https://static.rust-lang.org/rustup.sh | sudo sh'

alias u='sudo softwareupdate --download --install --all &&
         brew update && brew upgrade && brew cask && rustup'
alias clean='sudo brew cleanup && brew cask cleanup && rm -rf ~/.Trash/*'
