# -*- sh -*-
# mostly taken from https://github.com/losingkeys/dotfiles

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias git=hub
alias g=git
alias gs='git status'

alias ls='ls -a'

alias vimrc='vim "$HOME/.vimrc"'
alias zshrc='vim "$HOME/.zshrc"'

alias '?'='which'

alias venv='source .venv/bin/activate'

alias antlr4='java -jar /usr/local/lib/antlr-4.4-complete.jar'
alias grun='java org.antlr.v4.runtime.misc.TestRig'

alias u='sudo softwareupdate --download --install --all &&
         brew update && brew upgrade && brew cask'
alias clean='sudo rm -rf ~/.Trash/* && brew cask cleanup'
