"*":
  core:
    destroyEmptyPanes: false
    ignoredNames: [
      ".git"
      ".DS_Store"
      "._*"
      ".venv"
      "node_modules"
    ]
    themes: [
      "one-dark-ui"
      "cobalt2-syntax"
    ]
  editor:
    fontFamily: "Monaco"
    fontSize: 15
    preferredLineLength: 79
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "57f92516-0ba8-fc64-ce2c-e457201a25fe"
  welcome:
    showOnStartup: false
